@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome </h1>
    <p>My Shopping List</p>
    <div class="row">

   <div class="row my-5">
         <div class="col-12 col-md-6 mx-auto d-flex justify-content-center">
            <a class="display-7s mx-3 my-3" asp-controller="Account" asp-action="Register">Create an Account</a>
            <p class="text-center mx-3 my-3 d-inline">or</p>
            <a class="btn btn-secondary mx-3 my-3" asp-controller="Account" asp-action="Login">Login</a>
        </div>
</div>

<!-- Registration form -->
<div class="texte-center">
   
                 
    </div>
</div>
